.git
.github
docs/
backend/vendor/
backend/node_modules/
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/tests/
backend/.env
frontend/node_modules/
frontend/dist/
frontend/.env
